{% extends "base.html" %}

{% block app_content %}
<!--not needed if not fixed navbar-->
<!--{ padding-top: 200px; }-->
<div class="container">
    <h1>Critics</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Table -->
        <table class="table">
            {% include '_criticheader.html' %}

            {% for critic in critics %}
            <tr valign="top">
                <td>{{ critic.name }}</td>
                <td>{{ critic.common_ratings_count }}</td>
                <td>{{ '%0.4f' | format(critic.simdistance|float) }}</td>
                <td>{{ '%0.4f' | format(critic.simperson|float) }}</td>
                <td><a href="{{ url_for('database.editcritic', criticid=critic.id) }}">edit</a></td>
                <td><a href="{{ url_for('critics.results', compare_name=critic.name) }}">compare</a></td>
                <td><a href="{{ critic.url }}">MC link</a></td>
           </tr>
            {% endfor %}
            <tr>
                <td><input type="text" name="name" size="6" maxlength="6"></td>
                <td><input type="text" name="url" size="6" maxlength="6"></td>
                <td><input type="text" name="maxval" size="6" maxlength="6"></td>
                <td><a href="{{ url_for('database.addcritic') }}">add</a></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
