{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <form action="" method="post">
        <h1>found {{ criticscount}} Critics: </h1>
        {{ form.submit() }}
        {{ form.hidden_tag() }}
        <!-- Table -->
        <table class="table">
            {% include '_criticheader.html' %}
            {% for critic in critics %}
            <!--without subframe, to enable loop variable-->
            <tr valign="top">
                <td>{{ critic.name }}</td>
                <td>{{ critic.url }}</td>
                <td>{{ critic.maxvalue }}</td>
                <td><a href="{{ url_for('database.deletecritic', criticid=critic.id) }}">delete</a></td>
                <td><a href="{{ url_for('database.editcritic', criticid=critic.id) }}">edit</a></td>
            {% endfor %}
                <td><input type='text' name="name" size="4" maxlength="6"'></td>
                <td><input type='text' name="url" size="4" maxlength="6"'></td>
                <td><input type='text' name="maxval" size="4" maxlength="6"'></td>
                <td><a href="{{ url_for('database.addcritic'}}">add</a></td>
                </td>

            </tr>
        </table>
    </form>
</div>
{% endblock %}
