{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <form action="" method="post">
        <h1>found {{ moviescount}} movies for critic: {{critic_name}}</h1>
        {{ form.submit() }}
        {{ form.hidden_tag() }}
        <!-- Table -->
        <table class="table">
            {% include '_criticmovieheader.html' %}
            {% for movie in movies %}
            <!--{% include '_movie.html' %}-->
            <!--without subframe, to enable loop variable-->
            <tr valign="top">
                <!--<td><input type='text' name="imdbid[{{ loop.index0 }}]" size="7" maxlength="7" value='{{ movie.imdbId }}'></td>-->
                <td>{{ movie.imdbId }}</td>
                <td>{{ movie.titleLocal }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.year }}</td>
                <td><input type='text' name="medium[{{ loop.index0 }}]" size="4" maxlength="4"
                           value='{{ movie.medium }}'></td>
                <td><input type='text' name="place[{{ loop.index0 }}]" size="4" maxlength="4" value='{{ movie.place }}'>
                </td>
                <td><input type='text' name="ownrat[{{ loop.index0 }}]" size="4" maxlength="4" value='{{ movie.ownerrating }}'>
                </td>
                <td>{{ movie.critic_rating }}</td>
                <td><input type='text' name="amgrat[{{ loop.index0 }}]" size="4" maxlength="4" value='{{ movie.amgrating }}'>
                </td>

                <td><a href="{{ url_for('database.edit', movieid=movie.id) }}">edit</a></td>
                <td><a href="http://www.imdb.com/title/tt{{ movie.imdbId }}">ImDb</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
