{% extends "base.html" %}
{% block app_content %}
<h1>Edit movie</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td> {{ form.imdbid.label}}</td>
            <td>{{ form.imdbid(size=7)}}</td>
            <td><a href="http://www.imdb.com/title/tt{{ form.imdbid.data }}">ImDb</a></td>
        </tr>
        <tr>
            <td>{{ form.upgradeimdb.label}}</td>
            <td>{{ form.upgradeimdb}}</td>
        </tr>
        <tr>
            <td>{{ form.upgrademc.label}}</td>
            <td>{{ form.upgrademc}}</td>
            <td><a href="http://www.metacritic.com">Metacritic</a></td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.ownrating.label}}</td>
            <td>{{ form.ratingAmg.label}}</td>
            <td>{{ form.ratingMCvalue.label}} </td>
        </tr>


        <tr>
            <td></td>
            <td>{{ form.ownrating(size=4)}}</td>
            <td>{{ form.ratingAmg(size=4)}}</td>
            <td>{{ form.ratingMCvalue (size=4)}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ form.ratingMCcount.label}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ form.ratingMCcount(size=4) }}</td>
        </tr>
        <tr>

            <td>{{ form.year.label}}</td>
            <td>{{ form.year(size=4)}}</td>
        </tr>
        <tr>
            <td>{{ form.imdbname.label}}</td>
            <td>{{ form.imdbname(size=20)}}</td>
        </tr>
        <tr>
            <td>{{ form.originname.label}}</td>
            <td>{{ form.originname(size=20)}}</td>
        </tr>
        <tr>
            <td>{{ form.localname.label}}</td>
            <td>{{ form.localname(size=20)}}</td>
        </tr>
        <tr>
            <td>{{ form.director.label}}</td>
            <td>{{ form.director(size=20)}}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.medium.label}}</td>
            <td>{{ form.place.label}}</td>
            <td>{{ form.source.label}}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.medium(size=8)}}</td>
            <td>{{ form.place(size=8)}}</td>
            <td>{{ form.source(size=8)}}</td>
        </tr>
        <p>
            {{ form.submit() }}
        </p>
    </table>
</form>
{% endblock %}
