{% extends "base.html" %}
{% block app_content %}
    <h1>Manual Input</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.imdbid.label}}
            {{ form.imdbid(size=7)}}
        </p>
        <p>
            {{ form.imdbname.label}}
            {{ form.imdbname(size=32)}}
        </p>
        <p>
            {{ form.originname.label}}
            {{ form.originname(size=32)}}
        </p>
        <p>
            {{ form.localname.label}}
            {{ form.localname(size=32)}}
        </p>
        <p>
            {{ form.medium.label}}
            {{ form.medium(size=6)}}
            {{ form.place.label}}
            {{ form.place(size=6)}}
            {{ form.source.label}}
            {{ form.source(size=6)}}
        </p>
        <p>
            {{ form.ownrating.label}}
            {{ form.ownrating(size=6)}}
        </p>
        <p>
            {{ form.ratingAmg.label}}
            {{ form.ratingAmg(size=6)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
