{% extends "base.html" %}
{% block app_content %}
    <h1>Search Input</h1>
    {% if message %}
      {{ message }}
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.imdbid.label}}
            {{ form.imdbid(size=7)}}
        </p>
        <p>
            {{ form.text.label}}
            {{ form.text(size=32)}}
        </p>
        <p>
            {{ form.year.label}}
            {{ form.year(size=4)}}
        </p>
        <p>
            {{ form.director.label}}
            {{ form.director(size=32)}}
        </p>
        <p>
            {{ form.medium.label}}
            {{ form.medium(size=6)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
