{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - movieDB{% else %}{{ _('Welcome to movieDB') }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MovieDB </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index">Home</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Movies<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mod_db/maninput">Add</a></li>
                        <li><a href="/mod_db/search">Search</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Critics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mod_db/critics">List</a></li>
                        <li><a href="/mod_critics/compare">Compare</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ownrating">Criteria</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
    <!--{% with messages = get_flashed_messages() %}-->
    <!--{% if messages %}-->
    <!--<ul>-->
    <!--{% for message in messages %}-->
    <!--<li>{{ message}} </li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
    <!--{% endif %}-->
    <!--{% endwith %}-->

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}
    {% endblock %}


</div>
{% endblock %}

{% block head %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}
