{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - movieDB{% else %}{{ _('Welcome to movieDB') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
     <div>
        MovieDB:
        <a href="/index">Home</a>
        <a href="/mod_input/maninput">Manual input</a>
        <a href="/mod_input/csvinput">CSV input</a>
        <a href="/mod_db/search">DB search</a>
        <a href="/mod_db/singleresult">DB single result</a>
        <a href="/mod_db/explore">Explore</a>
    </div>
   </nav>
{% endblock %}


{% block content %}
   <div class="container">
      <!--{% with messages = get_flashed_messages() %}-->
      <!--{% if messages %}-->
        <!--<ul>-->
            <!--{% for message in messages %}-->
              <!--<li>{{ message}} </li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
      <!--{% endif %}-->
    <!--{% endwith %}-->

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}
    {% endblock %}


</div>
{% endblock %}

