{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - movieDB{% else %}{{ _('Welcome to movieDB') }}{% endif %}
{% endblock %}

{% block navbar %}
<nav>
    <div>
        MovieDB:
        <a href="/index">Home</a>
        <a href="/mod_input/maninput">Manual input</a>
        <a href="/mod_input/csvinput">CSV input</a>
    </div>
</nav>
{% endblock %}

{% block content %}
<div>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message}} </li>
            {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

</div>
{% endblock %}

