{% extends "base.html" %}

{% block app_content %}
    <h1>Criteria for my own ratings</h1>
    <table class="table">
        <tr>
            <td> Rating</td>
            <td> Notes</td>
        </tr>
        <tr>
            <td>5.0</td>
            <td>compared to Red, Godfather, 2001</td>
        </tr>
        <tr>
            <td>4.5</td>
            <td>want to see some times</td>
        </tr>
        <tr>
            <td>4.0</td>
            <td>very good, but not need to see once more</td>
        </tr>
        <tr>
            <td>3.5</td>
            <td>good</td>
        </tr>
        <tr>
            <td>3.0</td>
            <td></td>
        </tr>
        <tr>
            <td> less then 3.0</td>
            <td> lost time </td>
        </tr>
    </table>
{% endblock %}
